.container{
  padding: 2%;
}

.me{
  height: 200px;
  width: 200px;
  margin: 0 0 20px 0;
}

#local-video{
  width: 200px;
}

.peer{
  background: #add8f7;
  height: 300px;
  float: left;
  margin-right: 10px;
}

.footer{
  clear: both;
}